*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(219, 219, 219);
}
.box{
  margin-top: 13rem;
  display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    margin: auto;
    width: 80%;
    row-gap: 1rem;
    gap: 1rem;
}
.box div{
   
  display: flex;
  flex-wrap: wrap;
  background-color: #0021b191;
  padding: 12px;
  color: white;
  border: 2px solid #0021b1b5;
  border-radius: 10px;
}